<footer class="b-footer b-wrapper__main">
	<div class="g-clearfix b-footer__wrapper">
		<div class="g-left b-footer__logo">
			<div class="b-footer__logo__image">
				<a href="/">
					<svg class="b-footer__image__img">
						<use xlink:href="#icon-bird"></use>
					</svg>
					<div class="b-footer__image__text">
						CMW
					</div>
				</a>
			</div>
			<div class="b-footer__logo__email">
				Email администратора:<br />
				<a href="mailto:admin@cmw.su">admin@cmw.su</a>
			</div>
		</div>
		<div class="g-left b-footer__column">
			<div class="b-footer__column__link">
				<a href="#">Лучшие пользователи</a>
			</div>
			<div class="b-footer__column__link">
				<a href="#">Лучшие работы</a>
			</div>
			<div class="b-footer__column__link">
				<a href="#">Самые критикуемые работы</a>
			</div>
			<div class="b-footer__column__link">
				<a href="#">О сайте (FAQ)</a>
			</div>
		</div>
		<div class="g-left b-footer__column">
			<div class="b-footer__column__link">
				<a href="<%= add_work_path(current_user.username) %>">Добавить работу</a>
			</div>
			<div class="b-footer__column__link">
				<a href="<%= settings_path %>">Настройки профиля</a>
			</div>
			<div class="b-footer__column__link">
				<a href="<%= favorite_works_path(current_user.username) %>">Избранное</a>
			</div>
			<div class="b-footer__column__link">
				<a href="<%= subscriptions_path %>">Подписки</a>
			</div>
		</div>
	</div>
	<div class="b-footer__team">
		&copy CMWTeam, zoQTeam, 2015
	</div>
</footer>