<div class="b-svg-icons">
	<svg>
		<symbol id="icon-bird" viewBox="0 0 405.4 350.2">
			<g>
				<g>
					<path fill="#F7F7F7" d="M143,350.2c0,0,130.5-8.4,151.2-160.9c0.5-3.7,0.8-7.5,0.8-11.3c0-5.8,0.9-16.9,6.6-22.8
						c8.1-8.4,21.4-24.5,73.3-24.5c30.4,0,30.4,0,30.4,0s-91.5-17.5-110.5-21.4c-1.6-0.3-36.6-5-53.1,20.8s-16.6,32-17.5,31.7
						c-0.9-0.3-61.6,53.2-61.6,53.2l20.6,43.1L143,350.2z"/>
					<path opacity="0.3" fill="#F7F7F7" d="M224.9,174.4V0c0,0-123.3,71.5-61.8,216.3L224.9,174.4z"/>
					<path opacity="0.3" fill="#F7F7F7" d="M210.1,174.5L120.2,7.9c0,0-71.7,126.8,57.1,236L210.1,174.5z"/>
					<path opacity="0.3" fill="#F7F7F7" d="M206,177.8L42.1,64.9c0,0-2.7,147.9,168.3,190.9L206,177.8z"/>
					<path opacity="0.3" fill="#F7F7F7" d="M208.6,177.3L4.8,148.6c0,0,66.3,133.9,244.1,96.8L208.6,177.3z"/>
					<path opacity="0.3" fill="#F7F7F7" d="M204.9,178.2L0,225.6c0,0,111.8,100.8,268,1.5L204.9,178.2z"/>
					<path opacity="0.3" fill="#F7F7F7" d="M191.6,189.8L55.9,307.4c0,0,136.4,45,208.7-99.2L191.6,189.8z"/>
				</g>
			</g>
			<g>
				<g>
				</g>
				<g>
				</g>
			</g>
			<g>
			</g>
		</symbol>
		<symbol id="icon-search" viewBox="292 292 16 16">
			<path fill="#F1C40F" d="M307.6,305.5l-3.7-3.7c-0.5,0.8-1.3,1.6-2.1,2.1l3.7,3.7c0.6,0.6,1.5,0.6,2.1,0
				C308.2,307,308.2,306.1,307.6,305.5z"/>
			<path fill="#F1C40F" d="M304.1,298.1c0-3.3-2.7-6-6-6c-3.3,0-6,2.7-6,6c0,3.3,2.7,6,6,6C301.4,304.1,304.1,301.4,304.1,298.1z
				 M298.1,302.6c-2.5,0-4.5-2-4.5-4.5c0-2.5,2-4.5,4.5-4.5c2.5,0,4.5,2,4.5,4.5C302.6,300.6,300.6,302.6,298.1,302.6z"/>
			<path fill="#F1C40F" d="M294.6,298.1h1c0-1.4,1.1-2.5,2.5-2.5v-1C296.2,294.6,294.6,296.2,294.6,298.1z"/>
		</symbol>
		<symbol id="icon-to-top" viewBox="270 283 60 34">
			<path opacity="0.4" d="M302.9,284.6l25.8,25c1.6,1.6,1.6,4.2,0,5.8c-1.6,1.6-4.3,1.6-6,0l-22.9-22.2l-22.9,22.1
				c-1.6,1.6-4.3,1.6-6,0c-1.6-1.6-1.6-4.2,0-5.8l25.8-25c0.8-0.8,1.9-1.2,3-1.2C301,283.4,302.1,283.8,302.9,284.6z"/>
		</symbol>
		<symbol id="icon-login" viewBox="291.5 291.5 17 17">
			<path fill="#F7F7F7" d="M303.1,291.5c-3,0-5.4,2.4-5.4,5.4c0,0.6,0.1,1.3,0.3,1.9l-6.6,6.6v3.2h3.1v-1.9h1.9v-1.9h1.9l2.8-2.8
				c0.6,0.2,1.2,0.3,1.9,0.3c3,0,5.4-2.4,5.4-5.4S306.1,291.5,303.1,291.5z M304.7,297.2c-1.1,0-1.9-0.8-1.9-1.9s0.8-1.9,1.9-1.9
				c1.1,0,1.9,0.8,1.9,1.9S305.8,297.2,304.7,297.2z"/>
		</symbol>
		<symbol id="icon-register" viewBox="292.5 290.5 15 19">
			<ellipse fill="#F7F7F7" cx="297.6" cy="294.3" rx="3.7" ry="3.8"/>
			<path fill="#F7F7F7" d="M303.1,300.4c-0.5,0-1,0.1-1.4,0.2c-1-1.2-2.4-2-4.1-2c-2.8,0-5.1,2.3-5.1,5.1v2.8h6.4
				c0.6,1.8,2.2,3.1,4.2,3.1c2.5,0,4.5-2,4.5-4.6S305.6,300.4,303.1,300.4z M299.6,304.9c0-2,1.6-3.6,3.5-3.6s3.5,1.6,3.5,3.6
				c0,2-1.6,3.6-3.5,3.6S299.6,306.9,299.6,304.9z"/>
			<path fill="#F7F7F7" d="M303.7,302.3h-1.1c0,0.6,0,2,0,2s-1.2,0-1.8,0v1.1c0.6,0,1.8,0,1.8,0s0,1.5,0,2h1.1c0-0.6,0-2,0-2
				s1.2,0,1.8,0v-1.1c-0.6,0-1.8,0-1.8,0S303.7,302.9,303.7,302.3z"/>
		</symbol>
		<symbol id="icon-notif" viewBox="290.5 289.5 19 21">
			<g id="notifications">
				<path fill="#F7F7F7" d="M300.1,310.4c1.1,0,2.1-0.9,2.1-2.1H298C298,309.5,299,310.4,300.1,310.4z M306.8,304.2v-5.7
					c0-3.2-2.2-5.8-5.2-6.5v-0.7c0-0.8-0.7-1.5-1.5-1.5c-0.8,0-1.5,0.7-1.5,1.5v0.7c-3,0.7-5.2,3.3-5.2,6.5v5.7l-2.1,2.1v1h17.5v-1
					L306.8,304.2z"/>
			</g>
		</symbol>
		<symbol id="icon-setts" viewBox="290 290.1 20 20">
			<path id="settings_1_" fill="#F7F7F7" d="M309.3,298.6l-2-0.3c-0.1-0.6-0.4-1.1-0.6-1.7l1.3-1.6c0.3-0.3,0.3-0.8,0-1.1l-0.8-0.9
				c-0.3-0.3-0.8-0.4-1.1-0.2l-1.7,1.1c-0.7-0.5-1.6-0.9-2.5-1.1l-0.3-2c-0.1-0.4-0.4-0.7-0.9-0.7h-1.2c-0.4,0-0.8,0.3-0.9,0.7l-0.3,2
				c-0.7,0.2-1.5,0.5-2.1,0.9l-1.6-1.1c-0.3-0.2-0.8-0.2-1.1,0.1l-0.8,0.8c-0.3,0.3-0.3,0.8-0.1,1.1l1.1,1.6c-0.4,0.6-0.7,1.3-0.9,2.1
				l-2,0.3c-0.4,0.1-0.7,0.4-0.7,0.9v1.2c0,0.4,0.3,0.8,0.7,0.9l2,0.3c0.2,0.6,0.4,1.2,0.7,1.7l-1.3,1.6c-0.3,0.3-0.3,0.8,0,1.1
				l0.8,0.9c0.3,0.3,0.8,0.4,1.1,0.2l1.7-1.1c0.7,0.5,1.5,0.9,2.4,1.1l0.3,2c0.1,0.4,0.4,0.7,0.9,0.7h1.2c0.4,0,0.8-0.3,0.9-0.7l0.3-2
				c0.7-0.2,1.4-0.5,2.1-0.9l1.7,1.2c0.3,0.2,0.8,0.2,1.1-0.1l0.8-0.8c0.3-0.3,0.3-0.8,0.1-1.1l-1.2-1.7c0.4-0.6,0.7-1.3,0.9-2.1l2-0.3
				c0.4-0.1,0.7-0.4,0.7-0.9v-1.2C310,299,309.7,298.6,309.3,298.6z M300.1,303.8c-2.1,0-3.7-1.7-3.7-3.7c0-2.1,1.7-3.7,3.7-3.7
				c2.1,0,3.7,1.7,3.7,3.7C303.8,302.1,302.1,303.8,300.1,303.8z"/>
		</symbol>
		<symbol id="icon-fav" viewBox="292 290 16 20">
			<g id="bookmark">
				<path fill="#F7F7F7" d="M305.6,290h-11.1c-1.2,0-2.2,1-2.2,2.2V310l7.8-3.3l7.8,3.3v-17.8C307.8,291,306.8,290,305.6,290z"/>
			</g>
		</symbol>
		<symbol id="icon-subs" viewBox="290 293.9 20 12.5">
			<circle fill="#F7F7F7" cx="299.9" cy="300.1" r="1.2"/>
			<path fill="#F7F7F7" d="M300,293.9c-6.3,0-10,6.2-10,6.2s3.8,6.2,10,6.2s10-6.2,10-6.2S306.3,293.9,300,293.9z M300,303.9
				c-2.1,0-3.8-1.6-3.8-3.7s1.6-3.7,3.8-3.7s3.8,1.6,3.8,3.7S302.1,303.9,300,303.9z"/>
		</symbol>
		<symbol id="icon-logout" viewBox="290 290 20 20">
			<g>
				<path fill="#D81400" d="M307.9,295.5c-0.8-1.2-1.8-2.2-3.1-3c-0.2-0.1-0.5-0.1-0.7,0c-0.2,0.1-0.4,0.4-0.4,0.6v1.5
					c0,0.2,0.1,0.4,0.3,0.6c1.6,1.3,2.6,3.2,2.6,5.3c0,3.7-3,6.6-6.6,6.6c-3.7,0-6.6-3-6.6-6.6c0-2.1,1-4,2.6-5.3
					c0.2-0.1,0.3-0.4,0.3-0.6v-1.5c0-0.3-0.1-0.5-0.4-0.6c-0.2-0.1-0.5-0.1-0.7,0c-1.2,0.7-2.3,1.8-3.1,3c-1,1.5-1.5,3.3-1.5,5.1
					c0,2.5,1,4.9,2.7,6.6s4.1,2.7,6.6,2.7s4.9-1,6.6-2.7s2.7-4.1,2.7-6.6C309.4,298.8,308.8,297,307.9,295.5z"/>
				<path fill="#D81400" d="M299.1,301.4h1.7c0.4,0,0.7-0.3,0.7-0.7v-10c0-0.4-0.3-0.7-0.7-0.7h-1.7c-0.4,0-0.7,0.3-0.7,0.7v10
					C298.4,301.1,298.7,301.4,299.1,301.4z"/>
			</g>
		</symbol>
		<symbol id="icon-addWork" viewBox="0 0 14 14">
			<text transform="matrix(1 0 0 1 0.604 13.2502)" fill="#F7F7F7" font-family="'MuseoSansCyrl-700'" font-size="22">+</text>
		</symbol>
		<symbol id="icon-social_vk" viewBox="284 291.5 32 17">
			<path fill="#87c1ff" d="M313.7,305.1c-0.9-1-1.9-2-2.9-2.9c-0.9-0.9-1-1.3-0.2-2.4c0.8-1.1,1.6-2.1,2.4-3.2c0.7-1,1.5-2,1.9-3.2
			c0.2-0.8,0-1.1-0.8-1.3c-0.1,0-0.3,0-0.4,0h-4.7c-0.6,0-0.9,0.2-1.1,0.8c-0.3,0.7-0.6,1.4-0.9,2c-0.7,1.5-1.6,3-2.7,4.2
			c-0.2,0.3-0.6,0.6-1,0.5c-0.6-0.2-0.7-1.1-0.7-1.4v-5.4c-0.1-0.8-0.3-1.1-1-1.3h-4.9c-0.6,0-1,0.2-1.3,0.6c-0.2,0.2-0.2,0.4,0.2,0.5
			c0.8,0.2,1.3,0.7,1.4,1.5c0.2,1.3,0.2,2.6,0.1,3.9c0,0.4-0.1,0.8-0.2,1.1c-0.2,0.5-0.6,0.7-1.1,0.3c-0.5-0.3-0.8-0.7-1.1-1.2
			c-1.2-1.6-2.1-3.4-2.9-5.3c-0.2-0.5-0.6-0.9-1.2-0.9c-1.4,0-2.8,0-4.3,0c-0.9,0-1.1,0.4-0.8,1.2c1.5,3.4,3.3,6.7,5.5,9.7
			c1.1,1.6,2.5,2.9,4.2,3.9c1.9,1.1,4,1.4,6.2,1.3c1-0.1,1.3-0.3,1.4-1.3c0-0.7,0.1-1.4,0.5-2c0.3-0.6,0.9-0.7,1.5-0.3
			c0.3,0.2,0.6,0.4,0.8,0.7c0.6,0.6,1.1,1.3,1.7,1.9c0.7,0.8,1.6,1.2,2.8,1.1h4.4c0.7,0,1-0.9,0.6-1.7
			C314.4,306.1,314.1,305.6,313.7,305.1z"/>
		</symbol>
		<symbol id="icon-social_fb" viewBox="292.5 287.5 15 25">
			<path fill="#6899ff" d="M306.5,291.7h-2.4c-1.9,0-2.2,0.9-2.2,2.2v2.8h4.4v4.5H302v11.4h-4.6v-11.4h-3.9v-4.5h3.9v-3.3
			c0-3.8,2.3-5.9,5.7-5.9h3.4V291.7L306.5,291.7z"/>
		</symbol>
		<symbol id="icon-social_tw" viewBox="287 290 26 20">
			<path fill="#64d2ff" d="M312.3,292.4c-0.7,1-1.5,1.9-2.6,2.7c0,0.2,0,0.4,0,0.6c0,6.6-5,14.3-14.3,14.3c-2.8,0-5.4-0.8-7.7-2.2
			c0.4,0.1,0.8,0.1,1.2,0.1c2.4,0,4.5-0.8,6.2-2.1c-2.2,0-4.1-1.4-4.7-3.5c0.3,0.1,0.6,0.1,0.9,0.1c0.5,0,0.9-0.1,1.3-0.2
			c-2.2-0.4-4-2.5-4-4.9c0-0.1,0-0.1,0-0.1c0.6,0.3,1.4,0.5,2.2,0.6c-1.3-0.9-2.2-2.5-2.2-4.2c0-0.9,0.2-1.8,0.7-2.6
			c2.5,3.1,6.1,5,10.3,5.2c-0.1-0.3-0.1-0.7-0.1-1.1c0-2.8,2.2-5,5-5c1.4,0,2.8,0.6,3.8,1.6c1.1-0.2,2.1-0.6,3.2-1.2
			c-0.4,1.1-1.2,2.1-2.2,2.8C310.4,293.1,311.3,292.8,312.3,292.4z"/>
		</symbol>
	</svg>
</div>