<form>
	<input name="password" placeholder="<%= t('user_settings.new_password') %>" type="password" />
	<input name="password_confirmation" placeholder="<%= t('auth.repeat_password') %>" type="password"  />
	<input name="" type="submit" value="<%= t('auth.password_reset') %>" />
</form>
