<ul>
	<li class="vk">
		<a href="#"><%= t('controls.social.vk') %></a>
	</li>
	<li class="fb">
		<a href="#"><%= t('controls.social.fb') %></a>
	</li>
	<li class="tw">
		<a href="#"><%= t('controls.social.tw') %></a>
	</li>
</ul>
