$socialIcons: sprite-map("@1x/socialIcon/*.png", $spacing: 0, $layout: smart)

.b-page_login
	color: $whiteColor
	.b-auth
		+translate(-50%, 0)
		+border-radius(2px)
		position: absolute
		left: 50%
		width: 666px
		padding: 35px 156px 37px
		margin-bottom: 57px
		border: 1px solid rgba($whiteColor, 0.44)
		&_restore
			.b-auth__title
				margin-bottom: 40px
				font-size: 29px
		&__form-commit__link
			padding-top: 12px
		&__title, &__social, &__toRegister
			text-align: center
		&__title
			font-size: 30px
			font-weight: 600
			margin-bottom: 25px
			&_with-link
				margin-bottom: 15px
		&__toRegister
			margin-bottom: 10px
		&__welcome-text
			margin-top: 35px
			margin-bottom: 20px
			font-size: 16px
			font-weight: 300
		&__social
			font-size: 0
			margin-bottom: 29px
			&__via, &__link
				+inline-block(baseline)
			&__via
				font-size: 20px
				font-weight: 300
				margin-right: 13px
			&__link
				overflow: hidden
				color: transparent
			&__link_vk
				+sprite($socialIcons, "vk")
				margin-right: 13px
			&__link_fb
				+sprite($socialIcons, "fb")
				margin-right: 15px
			&__link_tw
				+sprite($socialIcons, "tw")
		&__service, &__form-commit
			.g-left, .g-right
				width: 50%
			.g-right
				text-align: right
		&__service
			margin-top: 13px
			margin-bottom: 32px
			font-weight: 300
		&__agreement, &__remember
			font-size: 0
			&__text
				font-size: 16px
		&__agreement
			&__link
				+inline-block
				margin-left: 29px
		&__remember
			+user-select(none)
			.g-right
				font-size: 16px

.b-checkbox__handler
	background-color: $whiteColor
