.b-page__cover_settings
	padding: 30px 78px
	padding-bottom: 34px
	.g-left, .g-right
		width: 365px
		&_smaller
			width: 170px
			.b-input_text
				margin-bottom: 0
	.b-input_text, .b-input_textarea
		margin-top: 10px
		margin-bottom: 28px

.b-settings
	&__commit
		text-align: center
		margin-top: 10px
		margin-bottom: 45px
		&_last
			margin-bottom: 11px
	&__notifs
		padding-left: 11px
		margin-bottom: 23px
		div
			margin-top: 9px
			font-weight: 100
		label:not(.b-checkbox)
			display: block
	&__prompt .b-prompt__modal
		font-size: 12px
