<div class="b-auth__social">
	<span class="b-auth__social__via"><%= t('auth.via') %></span>
	<a href="#" class="b-auth__social__link b-auth__social__link_vk">
		<svg>
			<use xlink:href="#icon-social_vk"></use>
		</svg>
	</a>
	<a href="#" class="b-auth__social__link b-auth__social__link_fb">
		<svg>
			<use xlink:href="#icon-social_fb"></use>
		</svg>
	</a>
	<a href="#" class="b-auth__social__link b-auth__social__link_tw">
		<svg>
			<use xlink:href="#icon-social_tw"></use>
		</svg>
	</a>
</div>
