<div class="b-page b-page__news b-page__news_last">
	<h1 class="b-page__title b-page__title_2">Показаны <span class="">свежие</span> материалы за <span class="">всё время</span></h1>
	<div class="b-page__news__view_change">
		<div class="b-page__news__view_change__list b-page__news__view_change_active"></div>
		<div class="b-page__news__view_change__grid"></div>
	</div>
	<div class="b-page__cover b-page__cover_news b-page__cover_news-last">
		<div class="b-page__cover_news__new g-clearfix">
			<div class="g-left b-page__cover_news__new__image">
				<img src="/uploads/news/270x270.png" alt="" />
			</div>
			<div class="g-left b-page__cover_news__new__content">
				
			</div>
		</div>
	</div>
</div>
