<div class="b-cover g-clearfix">
	<div class="g-left b-content">
		
	</div>
	<div class="g-right b-aside">
		<div class="b-fixed-aside" data-hook="panel">
			<%= render partial: "components/aside" %>
		</div>
	</div>
</div>
