$adaptive  : false
$zoQ_styles: true

$buttons   : true
$alerts    : true
$popups    : true
$typo      : true
$inputs    : true

@import "fonts"

@import "vars"

@import "zoQ_components/zoQ_components"

@import "defaults"
@import "common"
@import "layout"

@import "components/aside"

@import "pages/login"
@import "pages/settings"
@import "pages/main"