.b-required-star
	font-weight: 300
	font-size: 18px
	color: $redColor

.b-tag
	+inline-block
	padding: 5px 14px
	background: $yellowColor
	color: #fff
	font-weight: 500
	font-size: 12px
	margin-bottom: 5px
	margin-right: 5px
	&:last-child
		margin-right: 0

.b-prompt
	+inline-block
	color: $yellowColor
	border-bottom: 1px dashed $yellowColor
	cursor: pointer
	font-weight: 500
	position: relative
	&__modal
		+transition(opacity 300ms ease, width 300ms ease, height 300ms ease)
		+box-model(0, 0)
		+opacity(0)
		position: absolute
		top: 100%
		left: 0
		background: $blackColor
		opacity: 0
		padding: 0
		text-align: left
		overflow: hidden
		font-size: 16px
		z-index: 10000
		&_showen
			+opacity(1)
			+box-model(auto, auto)
			padding: 7px 14px
		&__line
			cursor: pointer
			white-space: nowrap
			padding: 7px 0
			&:hover, &.b-prompt__active
				color: #fff
