.b-wrapper__main
	width: 1297px
	margin: 0 auto
	padding: 0 34px

.b-logo__text
	color: $whiteColor

.b-controller-name
	position: relative
	min-height: 330px

.b-logo
	+translate(-50%, 0)
	position: absolute
	left: 50%
	margin-top: 32px
	text-align: center
	&__image
		+boxModel(156px, 138px)
		+inline-block
		position: relative
	&__pointer
		+boxModel(100%, 100%)
		position: absolute
		left: 0
		top: 0
	&__text
		+inline-block
		font-weight: 100
		font-size: 45px
	&__quote
		font-style: italic
		font-weight: 300
		font-size: 18px
		color: $quoteColor
		margin-top: 16px
		line-height: 1.2
		&-normal
			font-style: normal
			color: #fff

.b-controller-name
	&.registrations_new, &.sessions_new
		min-height: 195px
		.b-logo
			&__text
				font-size: 34px
			&__image
				+boxModel(109px, 105px)

.b-cover
	background: $whiteColor
	padding: 20px
	padding-left: 39px

.b-content
	width: 910px

.b-aside
	width: 289px
	position: relative

.b-page
	&__cover
		+box-shadow(0 0 1px rgba(#201600, 0.3))
		background: #fff
		padding: 28px
		padding-bottom: 65px
	&__title
		text-align: center
		margin: 0
		&_1
			font-size: 24px
			margin-bottom: 17px
		&_2
			font-size: 20px
			margin-bottom: 32px
