@if $zoQ_styles

	body
		background: $white
		color: $black
		font-family: "Fira Sans", "Helvetica", "Arial", sans-serif
		font-size: 14px
	a
		+transition(color, 200ms, ease)
		color: $blue
		text-decoration: none
		&:hover, &:focus
			color: #1ea1b2
	::selection
		background: $blue
		color: #fff
	::-moz-selection
		background: $blue
		color: #fff
