<%= render partial: "components/errors" %>
<div class="b-page b-page_profile">
	<div class="b-page__cover b-page__cover_profile">
		<div class="b-profile__info">
			<div class="b-profile__image-service g-clearfix">
				<div class="g-left b-profile__image">
					<div class="b-profile__image__img">
						<img src="/images/avatar149x149.png" alt="" />
					</div>
					<div class="b-profile__image__subscribe b-profile__image__subscribe_go b-button" data-text-go="Подписаться" data-text-gone="Отписаться">
						Подписаться
					</div>
				</div>
				<div class="g-left b-profile__service">
					<div class="b-profile__service__title">
						Клара Грюнберг
					</div>
					<div class="b-profile__service__spec">
						дизайн фирменных стилей
					</div>
					<div class="b-profile__service__activity">
						<div class="b-profile__service__activity__item">
							<div class="b-profile__service__activity__item__top">
								15
							</div>
							<div class="b-profile__service__activity__item__bottom">
								работ
							</div>
						</div>
						<div class="b-profile__service__activity__item">
							<div class="b-profile__service__activity__item__top">
								102
							</div>
							<div class="b-profile__service__activity__item__bottom">
								комм.
							</div>
						</div>
					</div>
					<div class="b-social b-social_line">
						<a href="#" class="b-social__item b-social__item_message" title="Отправить сообщение">Отправить сообщение</a>
						<a href="#" class="b-social__item b-social__item_vk" title="ВКонтакте">ВКонтакте</a>
						<a href="#" class="b-social__item b-social__item_fb" title="Facebook">Facebook</a>
						<a href="#" class="b-social__item b-social__item_tw" title="Twitter">Twitter</a>
						<a href="#" class="b-social__item b-social__item_be" title="Behance">Behance</a>
						<a href="#" class="b-social__item b-social__item_db" title="Dribbble">Dribbble</a>
					</div>
				</div>
			</div>
			<div class="b-profile__description">
				Недлинная такая, но хорошо описывающая жизнь дизайнера краткая биография, а не какой-нибудь там “Lorem Ipsum”. Здесь дизайнер должен написать что-то о себе, вроде любимого блюда или имени собаки. А может и нет. Ну к чёрту, не буду рассуждать, лучше дальше рисовать буду!
			</div>
		</div>
		<div class="b-news-wrapper b-news_grid">
<% 12.times do %>
			<div class="b-new g-clearfix">
				<div class="g-left b-new__image">
					<a href="#"><img src="/images/news/270x270.png" alt="" /></a>
				</div>
				<div class="g-left b-new__content">
					<h2 class="b-new__title"><a href="#">Designmodo Website</a></h2>
					<div class="b-new__author">
						<a href="#" class="b-new__author__link">Павел Зиновьев</a>
					</div>
					<div class="g-clearfix b-new__description-wrapper">
						<div class="g-left b-new__service">
							<div class="b-new__service__item b-new__service__item_added">
								<div class="b-new__service__item__icon b-new__service__item__icon_added"></div>
								<div class="b-new__service__item__content">
									7.01.15, 16:54
								</div>
							</div>
							<div class="b-new__service__item">
								<div class="b-new__service__item__icon b-new__service__item__icon_comments"></div>
								<div class="b-new__service__item__content b-new__service__item__content_comments">
									<a href="#">15 <span>комментариев</span></a>
								</div>
							</div>
							<div class="b-new__service__item b-new__service__item_tags">
								<div class="b-new__service__item__icon b-new__service__item__icon_tags"></div>
								<div class="b-new__service__item__content">
									<a href="#" class="b-tag">web-design</a>
									<a href="#" class="b-tag">ui</a>
									<a href="#" class="b-tag">flat</a>
								</div>
							</div>
							<div class="b-new__service__item_rating b-new__service__item">
								<div class="b-new__service__item__icon b-new__service__item__icon_rating"></div>
								<div class="b-new__service__item__content b-new__service__item__content_rating">
									4,4 <span>/ 5,0</span>
								</div>
							</div>
							<div class="b-new__service__item b-new__service__item_favourites-state b-new__service__item_favourites">
								<div class="b-new__service__item__icon b-new__service__item__icon_favourites"></div>
								<div class="b-new__service__item__content b-new__service__item__content_favourites">
									<span>В избранное!</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
<% end %>
			<div class="b-button b-button_expanded b-news__load-more">Загрузить ещё</div>
		</div>
	</div>
</div>
